html, body{
  height:100vh;
}
.login-container {
    display: flex;
    height:100%;
  }
  
  
  .menu ul {
    list-style-type: none;
    padding: 0;
    height:100%;
  }
  
  .menu li {
    margin-bottom: 10px;
  }
  
  .menu a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
  }
  
  .menu a:hover {
    color: #007bff;
  }
  
  main {
    flex: 1;
    padding: 20px;
  }
  