
table {
    width: 100%;
    border-collapse: collapse; 
  }
  
  thead th {
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  tbody td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
 
  .table-container {
    max-height: 500px;
    overflow-y: auto; 
    border: 1px solid #ddd; 
  }
  
  .folhaponto button{
    
    background-color: #102144;
  }